[Unit]
Description=Switch to tty2 on boot
DefaultDependencies=no
After=moonpi@tty2.service
BindsTo=moonpi@tty2.service

[Service]
Type=oneshot
ExecStart=/bin/chvt 2

[Install]
WantedBy=moonpi@tty2.service
